body {
    font: 1.2em / 1.5 sans-serif;
    background-color: black;
    color: white;
}

nav > div > button {
    background-color: black;
    color: white;
    border: None;
    padding: 0.6em;
}

nav > div > button:hover {
    background-color: rgb(4, 4, 111);
}

#learn:hover {
    background-color: rgb(107, 70, 2);
}

.logo {
    color: white;
}