body {
    font: 1.2em / 1.5 sans-serif;
    background-color: black;
    color: white;
}

nav {
    padding: 1em;
    display: flex;
    /* column-gap: 1em; */
    justify-content: space-between;
}

nav > div {
    display: flex;
}

.logo-container {
    margin-left: 1.5em;
}

.site-options {
    margin-right: 1.5em;
}

nav > div > div > button {
    background-color: black;
    color: white;
    border: None;
    padding: 0.6em;
}

nav > div > div > button:hover {
    background-color: rgb(4, 4, 111);
}

#learn:hover {
    background-color: rgb(121, 79, 1);
}

#tools:hover {
    background-color: rgb(77, 1, 77);
}

#about:hover {
    background-color: rgb(1, 82, 1);
}

#search:hover {
    background-color: rgba(255, 255, 255, 0.601);
}

#exit:hover {
    background-color: rgba(255, 255, 255, 0.18);
}

.logo {
    color: white;
    text-decoration: none;
}

.logo-start {
    color: rgb(168, 168, 244);
    text-decoration: none;
}

.logo-end {
    color: rgb(168, 168, 244);
    text-decoration: none;
}

.options {
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    display: flex;
    justify-content: space-between;
    background-color: rgba(128, 128, 128, 0.22);
    color: white;
}

.path {
    margin-left: 2.5em;
}

.path > a {
    text-decoration: none;
    color: white;
}

.controls {
    margin-right: 2.5em;
    display: flex;
    column-gap: 1em;
}

.options-drop-down > button {
    background-color: rgba(128, 128, 128, 0.053);
    color: white;
    border: none;
    height: 100%;
}

.options-drop-down > button:hover {
    background-color: rgba(128, 128, 128, 0.22);
}

.main {
    display: flex;
}